In [73]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer,MissingIndicator
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [74]:
df=pd.read_csv(r'C:\Users\SDS\Downloads\train.csv',usecols=['Fare','Survived','Age'])
df

     Survived   Age     Fare
0           0  22.0   7.2500
1           1  38.0  71.2833
2           1  26.0   7.9250
3           1  35.0  53.1000
4           0  35.0   8.0500
..        ...   ...      ...
886         0  27.0  13.0000
887         1  19.0  30.0000
888         0   NaN  23.4500
889         1  26.0  30.0000
890         0  32.0   7.7500

[891 rows x 3 columns]

In [75]:
x=df.drop(columns=['Survived'])
y=df['Survived']
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [76]:
x.isnull().sum()

Age     177
Fare      0
dtype: int64

In [77]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [78]:
si=SimpleImputer(strategy='mean')
x_train_tf=si.fit_transform(x_train)
x_test_tf=si.transform(x_test)

In [79]:
lg=LogisticRegression()

In [80]:
lg.fit(x_train_tf,y_train)
y_pred=lg.predict(x_test_tf)
accuracy_score(y_test,y_pred)

0.6480446927374302

In [81]:
mi=MissingIndicator()

In [82]:
x_train['AgeNan']=mi.fit_transform(x_train)
x_test['AgeNan']=mi.transform(x_test)

In [83]:
x_test

      Age     Fare  AgeNan
709   NaN  15.2458    True
439  31.0  10.5000   False
840  20.0   7.9250   False
720   6.0  33.0000   False
39   14.0  11.2417   False
..    ...      ...     ...
433  17.0   7.1250   False
773   NaN   7.2250    True
25   38.0  31.3875   False
84   17.0  10.5000   False
10    4.0  16.7000   False

[179 rows x 3 columns]

In [84]:
mi.features_

array([0], dtype=int64)

In [85]:
x_train_tf2=si.fit_transform(x_train)
x_test_tf2=si.transform(x_test)

In [86]:
lg.fit(x_train_tf2,y_train)

LogisticRegression()

In [87]:
y_pred=lg.predict(x_test_tf2)

In [88]:
accuracy_score(y_test,y_pred)

0.6368715083798883

In [90]:
si = SimpleImputer(add_indicator=True) # its  another way to  add indicatore